<!doctype html>
<html lang="en">

  <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}">

    <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon" />
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />

      <link rel="stylesheet" type="text/css" href="static/css/style_nav.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% block style %} {% endblock style %}
    {% block head %}{% endblock %}
    <title> {% block title %} {% endblock title %} | SmartEve Inc.</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark py-0" style="background: -webkit-linear-gradient(left, #7579ff, #b224ef);">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="index.html" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <a href="/"><img src="/static/img/logo3.png" alt="" style="width: 300px;height: 70px; background-size: cover;margin-left: -5%;opacity:1;"></a>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item px-3">
        <a class="nav-link" href="{% block nav0link %} {% endblock nav0link %}" style="color: antiquewhite;"><h2>{% block nav0 %} {% endblock nav0 %}</h2> </a>
      </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="{% block nav1link %} {% endblock nav1link %}" style="color: antiquewhite;"><h2>{% block nav1 %} {% endblock nav1 %}</h2> </a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{% block nav2link %} {% endblock nav2link %}" style="color: antiquewhite;"><h2>{% block nav2 %} {% endblock nav2 %}</h2> </a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{% block nav3link %} {% endblock nav3link %}" style="color: antiquewhite;"><h2>{% block nav3 %} {% endblock nav3 %} </h2></a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{% block nav4link %} {% endblock nav4link %}" style="color: antiquewhite;"><h2> {% block nav4 %} {% endblock nav4 %} </h2></a>
      </li>
    </ul>
  </div>
</nav>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

{% block body%} {% endblock body %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
