{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="static/css/style_nav.css">
<link rel="stylesheet" type="text/css" href="static/css/style_event.css">

{% block head %}
  {{ block.super }}
     <link rel="stylesheet" type="text/css" href="{% static 'css/style_event.css' %}">
{% endblock %}
{% block title %} Home {% endblock title %}

{% block nav1link %}
  #events
{% endblock nav1link %}

{% block nav1 %}
  View Events
{% endblock nav1 %}

{% block nav2link %} 

  {% if user.is_authenticated %}
    
  {% else %}
    /signup
  {% endif %}

{% endblock nav2link %}

{% block nav2 %} 

  {% if user.is_authenticated %}
    Hello, {{user.first_name}}
  {% else %}
    Login
  {% endif %}

{% endblock nav2 %}



{% block nav4link %} 

  {% if user.is_authenticated %}
    /logout 
  {% endif %}

{% endblock nav4link %}

{% block nav4 %} 

  {% if user.is_authenticated %}
     LogOut
  {% endif %}

{% endblock nav4 %}

{% block body %}
<body class="events-page">
<div class="navv">

    <div class = "container-fluid px-0" style="height:auto;">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/1600x500/?{{events.title}},{{events.tag}}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    </div >

     <div class="gradient" style="border:10px solid black;">
         <div class="container mt-4 mb-4">
      <h1 class="text-center pt-3 pb-3" style="font-family: 'Gill Sans Extrabold', sans-serif; color: white; font-weight: bolder;">{{events.title}}</h1>
      <div style="padding: 20px;">
            <div class="row">
              <div class="col-sm">
                  <h2 style="font-family: system-ui; color: black; font-weight: bolder;"> <span class="gradient-text"><i class="far fa-clock"></i> Date and Time </span></h2>
                <h4 style="font-family: system-ui; color: white; text-align: justify;">{{events.eventday}}, {{events.eventmonth}} {{events.eventdate}} {{events.eventyear}}</h4>
              </div>
              <div class="col-sm">
                  <h2 style="color: black; padding-right: 170px;"><span class="gradient-text"> <i class="fas fa-tag"></i>Event Tag</span> </h2>
                <h4 style="color: white; text-align: justify;">{{events.tag}}</h4>
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-sm">
                 <h2 style="color: black;"> <span class="gradient-text"><i class="fas fa-map-marker-alt"></i>Location </span></h2>
                <h4 style="color: white; text-align: justify;">{{events.location}}</h4>
              </div>
              <div class="col-sm">
                  <h2 style="color: black;"> <span class="gradient-text"><i class="far fa-user"></i> Organizer</span> </h2>
                <h4 style="text-align: justify; color: white;">{{events.organizer}}</h4>
              </div>
            </div><br>
          <h2 class="pt-4" style="color: black;"><span class="gradient-text"> <i class="far fa-file-alt"></i> About the Event </span></h2>
        <h4 style="text-align: justify; padding-top: 20px; padding-bottom: 20px; color: white;">{{events.desc}}</h4>

        <div class="text-center pt-3">
          <button class="btn btn-primary" style="border-radius: 32px;width: 100%;" onclick="myFunction()">Book</button>
        </div>
      </div>
         </div>
            </div>
</div>
<script src="static/js/script2.js"></script>
<script>
const gradient = document.querySelector(".gradient");

function onMouseMove(event) {
  gradient.style.backgroundImage = 'radial-gradient(at ' + event.clientX + 'px ' + event.clientY + 'px, rgba(159,0,191,.9) 0, #4D4FA7 70%)';
}
document.addEventListener("mousemove", onMouseMove);

</script>
</body>
{% endblock body %}