{% extends 'base.html' %}

{% block head %}
  <style>
    body {
      background-image: url('/templates/static/img/pay.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    body {
			font-family: 'Montserrat', sans-serif;
			background: linear-gradient(to bottom, #9b4dca 0%, #4e54c8 100%);
			color: #fff;
		}

		h1 {
			font-size: 3rem;
			margin-top: 3rem;
		}

		form {
			margin-top: 3rem;
		}

		label {
			font-size: 1.2rem;
		}

		input[type="text"], input[type="radio"] {
			border-radius: 0;
			border: none;
			background-color: #fff;
			color: #666;
			font-size: 1rem;
			padding: 0.5rem 1rem;
			box-shadow: none;
			width: 100%;
			margin-bottom: 1rem;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}

		input[type="text"]:focus, input[type="radio"]:focus {
			border-color: #fff;
			outline: none;
			box-shadow: none;
		}

		input[type="radio"] + label {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			cursor: pointer;
		}

		input[type="radio"] + label img {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: 0.6;
		}

		input[type="radio"]:checked + label img {
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
			opacity: 1;
		}

		.btn-primary {
			background-color: black;
			color: white;
			border: none;
			border-radius: 0;
			font-size: 1.5rem;
			font-weight: 700;
			padding: 1rem 2rem;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
			cursor: pointer;
		}

		.btn-primary:hover {
			background-color: yellowgreen;
			color: #fff;
		}
  </style>
{% endblock %}
{% block title %} Movie Payment {% endblock title %}

{% block nav0link %}
  /movie
{% endblock nav0link %}

{% block nav0 %}
    Movies
{% endblock nav0 %}
{% block nav1link %}
  /
{% endblock nav1link %}

{% block nav1 %}
  <!--img src="https://img.icons8.com/cute-clipart/38/000000/overtime.png"/> View Events-->
  <!--img src="/static/img/event.png" width="12%" height="10%"/-->
    View Events
{% endblock nav1 %}

{% block nav2link %}

  {% if user.is_authenticated %}
    /profile
  {% else %}
    /signup
  {% endif %}

{% endblock nav2link %}

{% block nav2 %}

  {% if user.is_authenticated %}
   Hello {{user.first_name}}
  {% else %}
   Login
  {% endif %}

{% endblock nav2 %}

{% block nav3link %}
  {% if user.is_authenticated %}
      /bookings
  {% else %}
  {% endif %}
{% endblock nav3link %}

{% block nav3 %}
  {% if user.is_authenticated %}
    My Bookings
  {% else %}
  {% endif %}
{% endblock nav3 %}


{% block nav4link %}

  {% if user.is_authenticated %}
    /logout
  {% endif %}

{% endblock nav4link %}

{% block nav4 %}

  {% if user.is_authenticated %}
   LogOut
  {% endif %}

{% endblock nav4 %}

{% block body %}
  <center><h1>Payment for {{ movie.title }}</h1>
  <h5>You have booked {{ seats }} seats for the show at {{ showtime.time }}</h5></center>
  {% comment %} Remove this line as it is not used anywhere {% endcomment %}
  {% comment %} description = "Movie Ticket" {% endcomment %}

  <form  action="{% url 'charge' %}" method="POST" id="payment-form">
    {% csrf_token %}

     {% for field in form %}
        {% if field.name == 'total_amount' %}
            {{ field.label_tag }} {{ field }}
        {% endif %}
    {% endfor %}
<center>
<div class="form-group" style="padding-left: 5%;padding-right: 5%">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="first-name">First Name</label>
          <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control" id="first-name" placeholder="First Name" required>
        </div>
    </div>
    <div class="col-md-6 mb-3">
     <label for="first-name">Last Name</label>
          <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control" id="last-name" placeholder="Last Name" required>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
          <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
        </div>
  </div>
  <div class="form-row">
  <div class="col-md-6 mb-3">
       <label for="address">Zip Code</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
      </div>
      <input type="text" class="form-control" id="zip" placeholder="Zip Code" required>
    </div>
  </div>
  <div class="col-md-6 mb-3">
      <label for="address">Credit Card Number</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="far fa-credit-card"></i></span>
      </div>
      <input type="text" class="form-control" id="card-number" placeholder="Credit Card Number" required pattern="[0-9]{16}">

      <div class="invalid-feedback">
      Please enter a valid credit card number.
      </div>
        </div>
  </div>
</div>
 <div class="form-row">
  <div class="col-md-6 mb-3">
    <label for="cvc"> CVC</label>
      <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
      </div>
      <input type="text" class="form-control" id="cvc" placeholder="CVC" required pattern="[0-9]{3}">
           <div class="invalid-feedback">
      Please enter a valid CVC code.
    </div>
      </div>
  </div>
     <div class="col-md-6 mb-3">
     <label for="expiry-date"> Expiry Date</label>
      <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
      </div>
      <input type="text" class="form-control" id="expiry-date" placeholder="Expiry Date" required pattern="^(0[1-9]|1[0-2])\/?([0-9]{4}|[0-9]{2})$">
          <div class="invalid-feedback">
      Please enter a valid expiry date in the format MM/YY.
    </div>
      </div>
  </div>
</div>

  <hr class="my-4">
  <label for="payment-method-selector">Choose your payment method:</label>
  <div class="d-flex justify-content-center">
    <div class="payment-method">
      <input type="radio" name="payment-method" value="visa" id="visa" class="d-none">
      <label for="visa">
        <img src="https://img.icons8.com/color/70/000000/visa.png"/>
      </label>
    </div>
    <div class="payment-method">
      <input type="radio" name="payment-method" value="mastercard" id="mastercard" class="d-none">
      <label for="mastercard">
        <img src="https://img.icons8.com/color/70/000000/mastercard-logo.png"/>
      </label>
    </div>
    <div class="payment-method">
      <input type="radio" name="payment-method" value="amex" id="amex" class="d-none">
      <label for="amex">
        <img src="https://img.icons8.com/color/70/000000/amex.png"/>
      </label>
    </div>
  </div>
  <div id="card-errors" role="alert"></div>
</div>




<input type="hidden" name="total_amount" value="{{ total_amount }}">
<input type="hidden" name="movie_id" value="{{ movie.id }}">
<input type="hidden" name="showtime_id" value="{{ showtime.id }}">
<input type="hidden" name="seats" value="{{ seats }}">
<input type="hidden" name="booking_id" value="{{ booking_id }}">
<input type="hidden" name="stripeToken" value="pk_test_12345">
<button id="submit-button" class="btn btn-primary" type="submit">Pay ${{ total_amount|floatformat:2 }}</button><br><br>

  </form>
</center>
  {% block script %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51MePc9HLzeTBgCIJOWfkO5bSbkCUw3ctA94X5gPYvkLwnBD8jX5XnXcesC9PzbGFnLVQqLwIgCtOSbquJXPitxGx00lcUUhL7B');
      var submitButton = document.getElementById('submit-button');

      submitButton.addEventListener('click', function(event) {
        event.preventDefault(); // prevent the default form submission behavior

      fetch('{% url "charge" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({
            print(total_amount,movie.id,showtime.id,seats,booking_id)
          total_amount: '{{ total_amount }}',
          movie_id: '{{ movie.id }}',
          showtime_id: '{{ showtime.id }}',
          seats: '{{ seats }}',
            booking_id: '{{ booking_id }}',
          stripeToken: 'sk_test_51MePc9HLzeTBgCIJKuJZWtM8N1pHMLPN2QxFD57vrRHGxtHr09bKVj08YCp3X9F0tpiWYn9u3413w56P3o3nzs5Y00dgLtzGHC'
        })
      })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });



    </script>
  {% endblock %}
{% endblock body %}
